
@{
    ViewBag.Title = "Historial";
}
<br />
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <h1>Ingreso a Historial</h1>
        <form id="historial" role="form" method="post" action="">
            <table class="table table-striped">
                <tr>
                    <td>Numero de documento</td>
                    <td colspan="2">
                        <input type="number" maxlength="20" placeholder="Número de Documento" class="form-contol numero" id="NumeroDocumento" />
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>Nombre</td>
                    <td colspan="3">
                        <input type="text" maxlength="20" placeholder="Nombre" class="form-contol numero" id="Nombre" />
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>Apellido</td>
                    <td colspan="3">
                        <input type="text" maxlength="20" placeholder="Apellido" class="form-contol numero" id="Apellido" />
                    </td>
                </tr>
                <tr>
                    <td>Telefono</td>
                    <td colspan="3">
                        <input type="text" placeholder="Telefono" class="form-control" id="Telefono" />
                    </td>
                </tr>
                <tr>
                    <td>Procedimiento</td>
                    <td colspan="3">
                        <select>
                            <option>Analisis</option>
                            <option>Reviciones</option>
                            <option>Medicamentos tomados</option>
                            <option>Alergias sufridas</option>
                            <option>Enfermedades padecidas</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <textarea rows="4" cols="150"></textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" align="right">
                        <input type="submit" value="INGRESAR" class="btn-primary" />
                        <input type="submit" value="CONSULTAR" class="btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>



<script>
    $('.fecha').datepicker({
        languaje: "es",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayHighlight: true
    });

    $('.numero').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $('#Historial').submit(function (evt) {
        if ($('#NumeroDocumento').val().length < 8) {
            bootstrap_alert.warning('El numero de documento debe tener mínimo 8 digitos')
            return false;
        }
    });

    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (mensage) {
        $('#alert_placeholder').
        html('<div class = "alert alert-danger"><a class = "close" data-dismiss = "alert">x</a>>span>'
        + mensage + '</spant><div>'
        );
    };

</script>

<h2>Historial</h2>

