@model Concordia.Models.Usuario
@{
    ViewBag.Title = "Crear";
}
<br />
<div class="panel panel-primary">
    <div class="panel-body">
        Ingreso a Farmacia
        <form role="form" method="post" action="">
            <table class="table table-striped">
                <tr>

                    <td>Tipo de documento</td>
                    <td>
                        @Html.DropDownListFor(u => u.tipodedocumento,
                        (IEnumerable<SelectListItem>)ViewBag.TiposDocumento, 
                        string.Empty, new {@class = "form-contro", @data_validation_errror_msg = "Debe seleccionar Tipo de Documento"})
                    </td>
                    <td>
                        <select class="form-control" id="tipoDocumento">
                            <option></option>
                            <option>Cédula de Ciudadania</option>
                            <option>Tarjeta de Identidad</option>
                        </select>
                    </td>
                    <td>Número de documento</td>
                    
                    <td>
                    @Html.TextBoxFor(u => u.numerodedocumento, 
                    new { @class = "form-control numero", @maxlength = "20",
                    @placeholder = "Número de Documento",
                    @data_validation="required",
                    @data_validation_error_msg= "Debe ingresar el numero de documento"})
                   </td>
                </tr>
                <tr>
                    <td>Primer Nombre</td>
                    <td><input type_"text" class="form-control" id="PrimerNombre" /></td>
                    <td>Segundo Nombre</td>
                    <td><input type_"text" class="form-control" id="SegundoNombre" /></td>
                </tr>
                <tr>
                    <td>Fecha de Nacimiento</td>
                    <td>
                        <div class="input-group date" data-provide="datepicker">
                            @Html.TextBoxFor(u => u.fechadenacimiento, "{0:dd/MM/yyyy}",
                            new { @class = "form-control",
                            @placeholder = "Fecha de Nacimiento",
                            @maxlength = "10",
                            @data_validation_error_msg = "Debe ingresar la fecha de Nacimiento",})
                            
                            
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </td>
                    <td>Sexo</td>
                    <td>
                        Masculino
                        <input type="radio" name="sexo" value="M" />&nbsp;
                        Femenino
                        <input type="radio" name="sexo" value="F" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <input type="submit" value="Registrar" class="btn-primary" />
                    </td>
                </tr>
            </table>
        </form>   
    </div>
</div>


     
<script>
        $('#dvFechaNacimiento').datepicker({
            languaje: "es",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayHighlight: true
    });

</script>
<h2>Crear</h2>

