@{
    ViewBag.Title = "Inventario";
}
<br />
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <h1>Ingreso a Inventario</h1>
        <form id="inventario" role="form" method="post" action="">
            <table class="table table-striped">
                <tr>
                    <td>Referencia</td>
                    <td colspan="3"><input type="text" maxlength="20" placeholder="Número de Referencia" class="form-contol numero" id="NumeroReferencia" /></td>
                </tr>
                <tr>
                    <td>Medicamento</td>
                    <td colspan="3"><input type="text" placeholder="Medicamento" class="form-control" id="Medicamento" /></td>
                </tr>
                <tr>
                    <td>No de Compra</td>
                    <td><input type="text" maxlength="20" placeholder="No de Compra" class="form-contol numero" id="NodeCompra" /></td>
                    <td>Fecha</td>
                    <td>
                        <div class="input-group date fecha" data-provide="datepicker">
                            <input type="text" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Cantidad</td>
                    <td colspan="3"><input type="text" maxlength="20" placeholder="Cantidad" class="form-contol numero" id="Cantidad" /></td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <input type="submit" value="INGRESO" class="btn-primary" />
                        <input type="submit" value="STOCK" class="btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>



<script>
    $('.fecha').datepicker({
        languaje: "es",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayHighlight: true
    });

    $('.numero').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $('#inventario').submit(function (evt) {
        if ($('#NumeroReferencia').val().length < 2) {
            bootstrap_alert.warning('El numero de Referencia debe tener mínimo 2 digitos')
            return false;
        }
    });

    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (mensage) {
        $('#alert_placeholder').
        html('<div class = "alert alert-danger"><a class = "close" data-dismiss = "alert">x</a>>span>'
        + mensage + '</spant><div>'
        );
    };
    $.validate({
        validateOnBlur: false, //disable validation when input looses
        errorMessagePosition: 'top',//instead of 'inline' which is default
        scrollToTopOnError: true,//set this property to true on longer forms
        languaje: spanishLanguaje
    });

</script>
<h2>Inventario</h2>

