@{
    ViewBag.Title = "Medicamento";
}
<br />
<div class="panel panel-primary">
    <div class="panel-body">
        <h1>Ingreso de Medicamento</h1>
        <form id="medicamento" role="form" method="post" action="">
            <table class="table table-striped">
                <tr>
                    <td>Referencia</td>
                    <td colspan="3">
                        <input type="text" maxlength="20" placeholder="Número de Referencia" class="form-contol numero" id="NumeroReferenciamed" /></td>
                </tr>
                <tr>
                    <td>Nombre del Medicamento</td>
                    <td>
                        <input type="Text" class="form-contol"></td>
                </tr>

                <tr>

                    <td>Presentacion</td>
                    <td>
                        <input type="Text" class="form-contol"></td>

                </tr>

                <tr>
                    <td>Dosis</td>
                    <td>
                        <input type="Text" class="form-contol"></td>
                </tr>
                <tr>
                    <td>Efectos Secundarios</td>
                    <td>
                        <input type="Text" class="form-contol"></td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <input type="submit" value="Guardar" class="btn-primary" />
                    </td>
            </table>
        </form>
    </div>
</div>
<script>
    $('.numero').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $('#medicamento').submit(function (evt) {
        if ($('#NumeroReferenciamed').val().length < 2) {
            bootstrap_alert.warning('El numero de Referencia debe tener mínimo 2 digitos')
            return false;
        }
    });

    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (mensage) {
        $('#alert_placeholder').
        html('<div class = "alert alert-danger"><a class = "close" data-dismiss = "alert">x</a><span>'
        + mensage + '</spant><div>'
        );
    };
    $.validate({
        validateOnBlur: false, //disable validation when input looses
        errorMessagePosition: 'top',//instead of 'inline' which is default
        scrollToTopOnError: true,//set this property to true on longer forms
        languaje: spanishLanguaje
    });

</script>
</script>
<h2>Medicamento</h2>
