@model Concordia.Models.Usuario
@{
    ViewBag.Title = "Pacientes";
}
<br />
<div class="panel panel-primary">
    <div class="panel-body">
        <h1>Ingreso de Pacientes</h1>
        <form id="usuario" role="form" method="post" action="">
            <table class="table table-striped">
                <tr>

                    <td>Tipo de documento</td>
                    <td>
                        @Html.DropDownListFor(u => u.tipodedocumento,
                        (IEnumerable<SelectListItem>)ViewBag.TiposDocumento,
                        string.Empty, new { @class = "form-control", @data_validation_errror_msg = "Debe seleccionar Tipo de Documento" })
                    </td>
                    <td>Número de documento</td>
                    <td>
                        @Html.TextBoxFor(u => u.numerodedocumento,
                    new
                    {
                        @class = "form-control numero",
                        @maxlength = "20",
                        @placeholder = "Número de Documento",
                        @data_validation = "required",
                        @data_validation_error_msg = "Debe ingresar el numero de documento"
                    })
                    </td>
                </tr>
                <tr>
                    <td>Primer Nombre</td>
                    <td><input type="text" class="form-control" id="PrimerNombre" /></td>
                    <td>Segundo Nombre</td>
                    <td><input type="text" class="form-control" id="SegundoNombre" /></td>
                </tr>
                <tr>
                    <td>Primer Apellido</td>
                    <td><input type="text" class="form-control" id="PrimerApellido" /></td>
                    <td>Segundo Apellido</td>
                    <td><input type="text" class="form-control" id="SegundoApellido" /></td>
                </tr>
                <tr>
                    <td>Fecha de Nacimiento</td>
                    <td>
                        <div class="input-group date" data-provide="datepicker">
                            @Html.TextBoxFor(u => u.fechadenacimiento, "{0:dd/MM/yyyy}",
                            new
                            {
                                @class = "form-control",
                                @placeholder = "Fecha de Nacimiento",
                                @maxlength = "10",
                                @data_validation_error_msg = "Debe ingresar la fecha de Nacimiento",
                            })
                            <span
                                class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </span>
                        </div>
                    </td>
                    <td>Sexo</td>
                    <td>
                        Masculino
                        <input type="radio" name="sexo" value="M" />&nbsp;
                        Femenino
                        <input type="radio" name="sexo" value="F" />
                    </td>
                </tr>
                <tr>

                    <td>Régimen de afiliación</td>
                    <td>
                        <select class="form-control" id="tipoDocumento">
                            <option></option>
                            <option>Subsidiado</option>
                            <option>Contributivo</option>
                            <option>Especial</option>
                            <option>No afiliado</option>
                        </select>
                    </td>
                    <td>EPS</td>
                    <td>
                        <select class="form-control" id="tipoDocumento">
                            <option></option>
                            <option>Savia salud</option>
                            <option>La Nueva EPS</option>
                            <option>Coomeva</option>
                            <option>Sanitas</option>
                            <option>Sura</option>
                        </select>
                    </td>
                <tr>
                    <td>Nivel SISBEN</td>
                    <td>
                        <select class="form-control" id="tipoDocumento">
                            <option></option>
                            <option>N</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Dirección de residencia</td>
                    <td><input type="text" class="form-control" id="Dirección de residencia" /></td>

                    <td>Teléfono</td>
                    <td><input type="Text" maxlength="10" placeholder="Número de Teléfono" class="form-contol numero" id="NumeroTelefono" /></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="submit" value="Registrar" class="btn-primary" />
                    </td>
                    <td colspan="2" align="right">
                        <input type="submit" value="Modificar" class="btn-primary" />
                    </td>
                <tr>
                    <td colspan="2" align="right">
                        <input type="submit" value="Baja" class="btn-primary" />
                    <td colspan="2" align="right">
                        <input type="submit" value="Alta" class="btn-primary" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>



<script>
    $('.fecha').datepicker({
        languaje: "es",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayHighlight: true
    });

    $('.numero').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $('#usuario').submit(function (evt) {
        if ($('#NumeroDocumento').val().length < 2) {
            bootstrap_alert.warning('El numero de Documenot debe tener mínimo 2 digitos')
            return false;
        }
    });

    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (mensage) {
        $('#alert_placeholder').
        html('<div class = "alert alert-danger"><a class = "close" data-dismiss = "alert">x</a><span>'
        + mensage + '</spant><div>'
        );
    };
    $.validate({
        validateOnBlur: false, //disable validation when input looses
        errorMessagePosition: 'top',//instead of 'inline' which is default
        scrollToTopOnError: true,//set this property to true on longer forms
        languaje: spanishLanguaje
    });

</script>
